body { 
    font-family: Roboto, serif;
    margin: 20px auto;
}

nav {
    color: white;
    margin: 40px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px auto;
}

#bubble {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 600px;
}