

body { 
    margin: 40px auto;
    background-color: gray;
}

nav {
    color: white;
    margin: 80px auto;
}

#circles {
    margin: 20px 0;
}

 #bubble {
    width: 40px;
    display: block;
    margin: 0 20px 0 20px;
    border-radius: 600px;
}
