/* * {
    border: 2px solid blue;
} */

body, ol {
    text-align: center;
    background-color: #fca6c9;
    color: black;
}

main{
    background-color: #fca6c9;
    position: relative;
    padding: 20px;
    color: #3e3e3e;
    font-weight: 750;
}

h1 {
    color:white;
}

h1:hover {
    background-color: #fca6c9;
    color: black;
}

p, h2 {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
    color: white;
}

footer {
    color: black;
    background-color: #fca6c9;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

.quote {
    color: white;
    padding: 20px;
    margin: 0 auto;
    font-size: 50px;
}

img {
    width: 20%;
    display: block;
    margin: 0 auto;
}